html, body {
    height:100%;
}

.full-screen {
    background: black;
    height: 100%;
    overflow: hidden;
}

#tease {
    height: 100%;
    background-color: black;
    position: relative;
}

#loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;  
    text-align:center;  
}

#loading > p {
    font-size: 200%;
    animation: fade 1s ease infinite alternate;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#rating {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

    #rating > div {
        position: relative;
        left: 50%;
        top: 50%;
        text-align: center;
        font-size: 14pt;
        margin: 0 auto;
        display: inline-block;
        transform: translate(-50%,-50%);
    }

    #rating>div>img {
        cursor:pointer;
    }


div[flashclass='TextView']::-webkit-scrollbar {
    width: 6px;
    -webkit-appearance:none;
}

div[flashclass='TextView']::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#404040;
}

div[flashclass='TextView']::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #B85959;
    -webkit-box-shadow: inset 0 0 6px rgba(255,0,0,0.5);
}

div [flashclass='TextView'] {
    overflow-y: auto;
    -webkit-overflow-scrolling: scroll;
}

div[flashclass='TextView'] > p {
    text-align: center;
    margin: 0 5px;
    padding: 0px 10px;
}
