extends layout

block head
  if debug
    link(rel='stylesheet', href='/stylesheets/tease.css')
  else
    link(rel='stylesheet', href='/stylesheets/tease.min.css')
  link(rel='stylesheet', href=skin)  
  script(src='/javascripts/spark-md5.min.js')  
  script(src='/javascripts/inobounce.min.js')  
  if debug
    script(src='/javascripts/flashtease.js')
  else
    script(src='/javascripts/flashtease.min.js')

block content  
    div(class='full-screen')    
      div(id='tease')
      div(style='position:absolute;right:0;top:0') 
        button(id='exit',title='Exit tease') X
      div(id='loading')
        p Loading
      div(id='rating')
        
          
